<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    </head>
    <body>
        {% block navbar %}
            <a href="{{ url('homepage') }}">Home</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ url('admin-new-post') }}">New Post</a>
            {% endif %}
            {% if app.user %}
                <a href="{{ url('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url('login') }}">Login</a>
                <a href="{{ url('user_registration') }}">Register</a>
            {% endif %}
        {% endblock %}

        {% block body %}
        {% endblock %}
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
        <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
