<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    </head>
    <body>
    {% set route =  app.request.attributes.get('_route') %}
        {% block navbar %}
            <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
                <div class="navbar-nav">
                    <a class="nav-item nav-link {% if route == 'homepage' %}active{% endif %}"
                       href="{{ url('homepage') }}">Home</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-item nav-link {% if route == 'admin-new-post' %}active{% endif %}"
                           href="{{ url('admin-new-post') }}">New Post</a>
                    {% endif %}
                    {% if app.user %}
                        <a class="nav-item nav-link" href="{{ url('logout') }}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link {% if route == 'login' %}active{% endif %}"
                           href="{{ url('login') }}">Login</a>
                        <a class="nav-item nav-link {% if route == 'user_registration' %}active{% endif %}"
                           href="{{ url('user_registration') }}">Register</a>
                    {% endif %}
                </div>
            </nav>
        {% endblock %}

        {% block body %}
        {% endblock %}
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
        <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
