{% extends 'base.html.twig' %}

{% block body %}
    {% for post in posts %}
        <p>
            <a href="{{ url('post_detail', {'id' : post.id}) }}">
                {{ post.date | date('d-m-Y') }}
                <h3>{{ post.title }}</h3>
                {{ post.content |raw }}
            </a>
        </p>
        <br>
    {% endfor %}
    <div id="root"></div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/react/dist/bundle.js') }}"></script>
{% endblock %}