{% extends 'base.html.twig' %}

{% block body %}
    <div id="root">
        {% for post in posts %}
            <span class="post-zone" data-id="{{ post.id }}"
            data-date="{{ post.date | date('d-m-Y') }}" data-title="{{ post.title }}"
            data-content="{{ post.content}}"></span>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/build/bundle.js') }}"></script>
{% endblock %}