{% extends 'base.html.twig' %}
{% block body %}
    <div id="root">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('delete-post', {'id' : post.id}) }}">Delete</a>
            <button id="modify-button" type="button">Modifier</button>
        {% endif %}
        {{ post.date | date('d-m-Y') }}
        <h2>{{ post.title }}</h2>
        <div id="content">
            {{ post.content |raw }}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div id="editable-content" class="hidden">
                <input type="text" value="{{ post.content }}" id="modified-content">
                <button type="button" class="btn btn-success" id="validate">Validate</button>
                <button type="button" class="btn btn-danger" id="cancel">Cancel</button>
            </div>
        {% endif %}

    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            console.log('READY');
            $('#modify-button').click(function () {
                $('#content').toggle();
                $('#editable-content').toggle();
            });
            $('#validate').click(function () {
                var modifiedContent = $('#modified-content').val();
                var url = "{{ url('edit-post', {'id':post.id})}}";
                $.ajax({
                    url: url,
                    method: 'post',
                    data: {content:modifiedContent}
                }).done(function () {
                    window.location.reload();
                });
            })
        })
    </script>
{% endblock %}