{% extends 'base.html.twig' %}
{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="loader-background hidden"></div>
        <span class="cssload-loader hidden"><span class="cssload-loader-inner"></span></span>
    {% endif %}

    <div class="container mt-3 pl-5 pr-5 pt-1 pb-5 mb-5">

        {% if is_granted('ROLE_ADMIN') %}
            <div class="row justify-content-end">
                <a class="btn btn-danger" href="{{ url('delete-post', {'id' : post.id}) }}">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
                <button class="btn btn-warning" id="modify-button" type="button">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
            </div>

        {% endif %}

        <div class="row justify-content-between mb-4 mt-4">
            <div class="col-md-4">
                <h3 class="h3">
                    <a href="{{ url('post_detail', {'id' : post.id}) }}">{{ post.title }}</a>
                </h3>
            </div>
            <div class="col-md-2 date-style">
                {{ post.date | date('d-m-Y') }}
            </div>
        </div>
        <div class="row">
            <div id="content" class="col-md-12">{{ post.content | raw }}</div>
        </div>


        {% if is_granted('ROLE_ADMIN') %}
            <div id="editable-content" class="hidden">
                <input type="text" value="{{ post.content }}" id="modified-content">
                <button type="button" class="btn btn-success" id="validate">Validate</button>
                <button type="button" class="btn btn-danger" id="cancel">Cancel</button>
            </div>
        {% endif %}
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            function showLoader() {
                $('.cssload-loader').toggle();
                $('.loader-background').toggle();
            }
            $('#modify-button').click(function () {
                $('#content').toggle();
                $('#editable-content').toggle();
            });
            $('#validate').click(function () {
                showLoader();
                var modifiedContent = $('#modified-content').val();
                var url = "{{ url('edit-post', {'id':post.id})}}";
                $.ajax({
                    url: url,
                    method: 'post',
                    data: {content:modifiedContent}
                }).done(function () {
                    window.location.reload();
                });
            });
            $('#cancel').click(function () {
                $('#modified-content').val("{{ post.content | raw | replace({"\n":' ', "\r":' '})}}");
                $('#content').toggle();
                $('#editable-content').toggle();
            })
        })
    </script>
{% endblock %}