{% extends 'base.html.twig' %}
{% block body %}
    <div>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('delete-post', {'id' : post.id}) }}">Delete</a>
            <button id="modify-button" type="button">Modifier</button>
        {% endif %}
        {{ post.date | date('d-m-Y') }}
        <h2>{{ post.title }}</h2>
        <div id="content">
            {{ post.content |raw }}
        </div>
        <div id="editable-content" class="hidden">
            <input type="text" value="{{ post.content }}">
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            console.log('READY');
            $('#modify-button').click(function () {
                $('#content').toggle();
                $('#editable-content').toggle();
            })
        })
    </script>
{% endblock %}