{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid fluid-padding">
        <div class="content-block">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

        <div class="content-block">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="mb-3 text-center">MOVIES</h3>
                    {% for movie in movies %}
                        <div class="row">
                            <a href="{{ asset('movies/' ~ movie) }}">{{ movie }}</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-lg-6">
                    <h3 class="mb-3 text-center">SHOWS</h3>
                    {% for show in shows %}
                        <div class="row">
                            <a href="{{ asset('shows/' ~ show) }}">{{ show }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>



{% endblock %}