{% extends 'base.html.twig' %}


{% block body %}
    <div class="container mt-3 pl-5 pr-5 pt-1 shadow-container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    {% for movie in movies %}
        <a href="{{ asset('movies/' + movie) }}">{{ movie }}</a>
    {% endfor %}
    {% for serie in series%}
        <a href="{{ asset('series/' + serie) }}">{{ serie }}</a>
    {% endfor %}

{% endblock %}