{% extends 'base.html.twig' %}

{% block body %}
    <div class="vertical-align">
        <div class="container container-login mt-5 pl-5 pr-5 pt-4 pb-5 mb-5">
            {{ form_start(form) }}
            <div class="row justify-content-center">
                <i class="fa fa-user-circle-o input-group-addon col-md-1" aria-hidden="true"></i>
                {{ form_widget(form.username) }}
            </div>

            <div class="row justify-content-center mt-1">
                <i class="fa fa-envelope input-group-addon col-md-1" aria-hidden="true"></i>
                {{ form_widget(form.email) }}
            </div>

            <div class="row justify-content-center mt-1">
                <i class="fa fa-unlock-alt input-group-addon col-md-1" aria-hidden="true"></i>
                {{ form_widget(form.plainPassword.first) }}
            </div>

            <div class="row justify-content-center mt-1">
                <i class="fa fa-repeat input-group-addon col-md-1" aria-hidden="true"></i>
                {{ form_widget(form.plainPassword.second) }}
            </div>

            <div class="row justify-content-center mt-3">
                <button class="col-md-8 btn btn-login" type="submit">Créer le compte</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}